<p data-hook="bar_code">
  <%= f.fields_for :visual_codes do |vc| %>
     Bar Code: <%= vc.visual_code_type.name %>
  <% end %> 
  
  <!-- this way will actually display a field for now atleast -->
</p>
  
  

