<p data-hook="bar_code"><%= f.label :visual_code, t(:singular, :scope => :visual_code) %>: <br />
 
  <%= f.fields_for :visual_code do |vc| %>
    Bar Code  : <%= vc.code.text_field :code %>
  
  <% end %>
  
  <span class="enter_visual_code"> 
</p>
  
  

